<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col> <ion-title>Sleepiness Record</ion-title></ion-col>
        <ion-col ></ion-col>
        <ion-col >
          <ion-button expand="block" (click)="setOpen(true)">History</ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>History</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">

                  <ion-card *ngFor = "let item of sleepinessArray; let i = index">
                    <ion-card-header>
                    <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{item.dateString()}}</ion-card-subtitle>
                    <ion-card-title>{{item.summaryString()}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>{{item.getComment()}}</ion-card-content>
                    <ion-card-content>
                      <ion-buttons slot="end">
                        <ion-button color="danger" (click)="deleteItem(i)">Delete</ion-button>
                      </ion-buttons>
                    </ion-card-content>
                  </ion-card>

              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="enterSleepiness" 
      interface="action-sheet" placeholder="Select your Sleepiness" >
        <ion-select-option [value]="item" *ngFor="let item of options" >
          {{item.level}}: {{item.content}}</ion-select-option>  
      </ion-select >
    </ion-item>
  </ion-list>

  <ion-item >
      <ion-input [clearInput]="true" placeholder="Comment on your Sleepiness" [(ngModel)]="enterComment"></ion-input>
  </ion-item>

  <ion-item>
    <!-- <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="dateTime"> -->
      <ion-datetime [(ngModel)]="dateTime">
    </ion-datetime>
  </ion-item>

      <ion-button *ngIf="enterSleepiness.level!=0" expand="block" (click)="onClick()">Add
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button> 

</ion-content>

<ion-item>
  <ion-card color="primary">
    <ion-card-header>
    <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{currentDate}}</ion-card-subtitle>
    <ion-card-title>{{currentLevel}} {{storeSleepiness}}</ion-card-title>
  </ion-card-header>
    <ion-card-content>{{comment}}</ion-card-content>
    
  </ion-card>
</ion-item>
