<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Record Your Sleepiness
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="enterSleepiness" 
      interface="action-sheet" placeholder="Select your Sleepiness" >
        <ion-select-option [value]="item" *ngFor="let item of options" >
          {{item.level}}: {{item.content}}</ion-select-option>  
      </ion-select >
    </ion-item>
  </ion-list>

  <ion-item >
      <!-- <ion-label position="stacked">Comment on your Sleepiness</ion-label> -->
      <ion-input [clearInput]="true" placeholder="Comment on your Sleepiness" [(ngModel)]="enterComment"></ion-input>
  </ion-item>

  <ion-item>
    <ion-datetime display-format="MM/DD/YYYY">
    </ion-datetime>
  </ion-item>

      <ion-button *ngIf="enterSleepiness.level!=0" expand="block" (click)="onClick()">Add</ion-button> 

</ion-content>

<ion-item>
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>Sleepiness record</ion-card-subtitle>
    <ion-card-title>{{storeSleepiness}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    {{comment}}
    </ion-card-content>
  </ion-card>
</ion-item>
