<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log Overnight Sleep
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="Sleep">
        Sleep
         
      </ion-segment-button>
      <ion-segment-button value="Sleepiness">
        Sleepiness
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <canvas #lineChart style="position: relative; height: 20vh;width: 40vw;"></canvas>
</ion-content> -->

<!-- <div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div> -->


<!-- <ion-content>
  <ion-card *ngIf="selectedSegment == 'Sleep'">   
   
    <ion-card-header>
      <ion-card-title>Log Sleep</ion-card-title>
      <ion-card-subtitle>ss</ion-card-subtitle>
    </ion-card-header>
   
  </ion-card>
 
  <ion-card *ngIf="selectedSegment == 'Sleepiness'">
    <ion-card-header>
      <ion-card-title>Log Sleepiness</ion-card-title>
      <ion-card-subtitle>ss</ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>
  
</ion-content>

<canvas  id="Sleep" width="600" height="400"></canvas>
<canvas  id="Sleepiness" width="600" height="400"></canvas> -->

 
    
    
  
<ion-content>
  <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>A week of sleeing recording</ion-card-subtitle>
      <ion-card-title>Sleep Record</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>

  <ion-content>
    <h3>
      {{data}}
    </h3>
  </ion-content>
  


