<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary of Data
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="segmentChanged($event)" value="Sleep">
      
    <ion-segment-button value="Sleep">
      Sleep
    
       
    </ion-segment-button>
    <ion-segment-button value="Sleepiness">
      Sleepiness
    </ion-segment-button>
  </ion-segment>
  <ion-col>
  
    <div  *ngIf=showSleepDataCards >
      <ion-col>
        <ion-button  (click)="setOpen(true)">View All Sleep Logs</ion-button>
      </ion-col>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>All Sleep Logs</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
         
          <ion-content>
            <ion-card *ngFor="let item of overnightSleepDataArray">
              <ion-card-header>
                <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{item.dateString()}}</ion-card-subtitle>
                <ion-card-title>{{item.summaryString()}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>{{item.summaryString()}}<br>   
                </ion-card-content>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>
      
    </div>

    <div  *ngIf=showSleepinessDataCards >
      <ion-col>
        <ion-button  (click)="setOpen(true)">View All Sleepiness Data</ion-button>
      </ion-col>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>All Sleepiness Data</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          
          <ion-content>
            <ion-card *ngFor="let item of sleepinessDataArray">
              <ion-card-header>
                <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{item.dateString()}}</ion-card-subtitle>
                <ion-card-title>{{item.summaryString()}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>{{item.getComment()}}</ion-card-content>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>
      
    </div>
  </ion-col>
  <ion-content >
    <ion-list-header color="light">Summary of Sleep</ion-list-header>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>7 days record </ion-card-subtitle>
        <ion-card-title>Summary of Sleep</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas  id="Sleep" #barChart></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>





 
    
    


  


