<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary of Data
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="segmentChanged($event)" value="Sleep">
      
    <ion-segment-button value="Sleep">
      Sleep
       
    </ion-segment-button>
    <ion-segment-button value="Sleepiness">
      Sleepiness
    </ion-segment-button>
  </ion-segment>
  <div  *ngIf=showSleepDataCards >
    <ion-card *ngFor="let item of overnightSleepDataArray">
      <ion-card-header>
        <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{item.dateString()}}</ion-card-subtitle>
        <ion-card-title>{{item.summaryString()}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{item.summaryString()}}<br>
        
         
  
       
        </ion-card-content>
    </ion-card>
  </div>
  <div  *ngIf=showSleepinessDataCards >
    <ion-card *ngFor="let item of sleepinessDataArray">
      <ion-card-header>
        <ion-card-subtitle value="Sleepiness log" class="ion-text-center">{{item.dateString()}}</ion-card-subtitle>
        <ion-card-title>{{item.summaryString()}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{item.getComment()}}</ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
<!-- <ion-content [fullscreen]="true">
  <canvas #lineChart style="position: relative; height: 20vh;width: 40vw;"></canvas>
</ion-content> -->

<!-- <div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div> -->


<!-- <ion-content>
  <ion-card *ngIf="selectedSegment == 'Sleep'">   
   
    <ion-card-header>
      <ion-card-title>Log Sleep</ion-card-title>
      <ion-card-subtitle>ss</ion-card-subtitle>
    </ion-card-header>
   
  </ion-card>
 
  <ion-card *ngIf="selectedSegment == 'Sleepiness'">
    <ion-card-header>
      <ion-card-title>Log Sleepiness</ion-card-title>
      <ion-card-subtitle>ss</ion-card-subtitle>
    </ion-card-header>
    
  </ion-card>
  
</ion-content>

<canvas  id="Sleep" width="600" height="400"></canvas>
<canvas  id="Sleepiness" width="600" height="400"></canvas> -->

 
    
    


  


