
<!-- display day and time -->

<ion-list>
  <!-- start day -->
  <ion-item id="StartDay">
    <ion-label>Start Day</ion-label>
    <ion-note slot="end">{{startdateValue | date}}</ion-note>
  </ion-item>
  <ion-modal trigger="StartDay" [cssClass]="'center'">
    <ng-template>
      <ion-datetime
        #datetime
        presentation="date"
        [(ngModel)]="startdateValue"
        (ionChange)="startDateChanged(datetime.value)"
        size="cover"
        [showDefaultButtons]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
<!-- bed time -->
  <ion-item id="BedTime">
    <ion-label>Bed Time</ion-label>
    <ion-note slot="end">{{startdateValue | date: 'HH:mm'}}</ion-note>
  </ion-item>
  <ion-modal trigger="BedTime" [cssClass]="'bottom-end'">
    <ng-template>
      <ion-datetime
      #datetime
        presentation="time"
        [(ngModel)]="startdateValue"
        (ionChange)="startDateChanged(datetime.value)"
        size="cover"
        [showDefaultButtons]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
  <!-- End day -->
  <ion-item id="EndDay">
    <ion-label>End Day</ion-label>
    <ion-note slot="end">{{enddateValue | date}}</ion-note>
  </ion-item>
  <ion-modal trigger="EndDay" [cssClass]="'center'">
    <ng-template>
      <ion-datetime
        #EndDay
        presentation="date"
        [(ngModel)]="enddateValue"
        [min] = "startdateValue"
        (ionChange)="endDateChanged(EndDay.value)"
        size="cover"
        [showDefaultButtons]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
  <!-- Wake Up -->
  <ion-item id="WakeUp">
    <ion-label>Wake Up</ion-label>
    <ion-note slot="end">{{enddateValue | date: 'HH:mm'}}</ion-note>
  </ion-item>
  <ion-modal trigger="WakeUp" [cssClass]="'bottom-end'">
    <ng-template>
      <ion-datetime *ngIf="isDateSame"
        #EndDay
        presentation="time"
        [(ngModel)]="enddateValue"
        [min] = "startdateValue"
        (ionChange)="endDateChanged(EndDay.value)"
        size="cover"
        [showDefaultButtons]="true"
      ></ion-datetime>

      <ion-datetime *ngIf="isDateSame == false"
        #EndDay
        presentation="time"
        [(ngModel)]="enddateValue"
        (ionChange)="endDateChanged(EndDay.value)"
        size="cover"
        [showDefaultButtons]="true"
    ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-list>



